<form action="/" accept-charset="UTF-8" data-remote="true" method="get" data-local="true" local="true">
  <label for="url">URL</label>
  <input type="text" name="url" id="url" />
  <input type="submit" value="Go" data-disable-with="Go" />
</form>

<div id="displayContainer">
</div>

