<h1>OG Protocol Tester/Previewer</h1>
<p>Enter a URL and hit 'Go'. The url has to be complete, prepended with http://www or something similar.</p>
<p>The preview size will not be limited by this client. The opengraph data must contain height and width limits or have a reasonably sized image.</p>
<form action="/" accept-charset="UTF-8" data-remote="true" method="get" data-local="true" local="true">
  <label for="url">URL</label>
  <input type="text" name="url" id="url" />
  <input type="submit" value="Go" data-disable-with="Go" />
</form>

<div id="displayContainer">
</div>

